<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="logPath">log</Property>
        <Property name="rollingFileName">LeitorEFD</Property>
        <Property name="AppenderPadrao">Console</Property>   
        <Property name="LevelPadrao">ALL</Property>
        <!--   
       OFF (most specific, no logging)
       FATAL (most specific, little data)
       ERROR.
       WARN.
       INFO.
       DEBUG.
       TRACE (least specific, a lot of data)
       ALL (least specific, all data)
        -->
    </Properties>
  
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        
        <RollingFile name="rollingFile" filePattern="${logPath}/${rollingFileName}_%d{yyyy-MM-dd}.log">
            
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <!-- Causes a rollover if the log file is older than the current JVM's start time -->
                <OnStartupTriggeringPolicy />
                <!-- Causes a rollover once the date/time pattern no longer applies to the active file -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
    </Appenders>
    
    <Loggers>
               
        <Logger name="br.com.jefferson.efd.processamento.DaoRegistro" level="ALL" additivity="false">
            <AppenderRef ref="${AppenderPadrao}"/>
        </Logger>
        <Logger name="br.com.jefferson.efd.util.JPAConfiguration" level="${LevelPadrao}" additivity="false">
            <AppenderRef ref="${AppenderPadrao}"/>
        </Logger>
        <Logger name="br.com.jefferson.efd.processamento.Leitor" level="${LevelPadrao}" additivity="false">
            <AppenderRef ref="${AppenderPadrao}"/>
        </Logger>
        <Logger name="br.com.jefferson.efd.MainFrame" level="${LevelPadrao}" additivity="false">
            <AppenderRef ref="${AppenderPadrao}"/>
        </Logger>
        
        <Logger name="LoggerTest" level="ALL" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="INFO" additivity="true">
            <AppenderRef ref="${AppenderPadrao}"/>
        </Root>
        <!-- 
       log.debug("");
       log.trace("");
        -->
    </Loggers>
</Configuration>